body {
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  font-family: sans-serif;
  padding: 0;
  text-align: center;
  background-image: url("../images/star-wars-background.jpg");
  background-position: center;
  filter:alpha(opacity=50);
}

.game-intro {
  /* float: left; */
  padding: 5% 10%;
}

.game-intro p {
  font-size: 40px;
  font-family: "Verdana";
  color: white;
  background-color: #870007;
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
  margin-bottom: 20px;
  background-color: #870007;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-ground {
  /* float: left; */
  padding: 20px 0px;
}

canvas {
  background-image: url("../images/starwars-1608305219137-8600.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 180%;
}